<full-modal [open]="isOpen" (closeModal)="globals.closeModal('transactionsmodal')" [asPage]="false" [headerColor]="'white'" [headerClass]="'bg-white'" [bodyColor]="'light'" [id]="'transactions'" [title]="'Transactions'">
  
  <ion-content color="light">
    
    <ion-card class="no-shadow ion-no-margin" style="padding-bottom: 10px;padding-top: 10px;margin-top: 10px;margin-bottom: 10px;">
      <ion-list-header>
        <ion-label>
          <h2>Account Insights</h2>
          <p class="fs-12 text-medium" style="margin-top: 0px;">November 2021 - Now</p>
        </ion-label>
      </ion-list-header>

      <!-- <bar-chart [columnWidth]="'30%'" [height]="150"></bar-chart> -->
      <!-- <horizontal-bar-chart [currency]="globals.config.currency"></horizontal-bar-chart> -->

      <ion-item mode="ios" detail="false" lines="none" style="margin-top: -5px;margin-bottom: -7px;">
        <div class="circle bg-danger" slot="start"></div>
        <ion-label>
          <h2 class="fs-14">Cash Out</h2>
        </ion-label>
        <ion-note slot="end" align="right">
          <h2 class="text-dark fw-500 fs-14 ">{{ _accountservice.trans.Debit || 0 | currency : globals.config.currency+' ' : "symbol" }}</h2>
        </ion-note>
      </ion-item>
  
      <ion-item mode="ios" detail="false" lines="none" style="margin-bottom: -7px;">
        <div class="circle bg-success" slot="start"></div>
        <ion-label>
          <h2 class="fs-14">Cash In</h2>
        </ion-label>
        <ion-note slot="end" align="right">
          <h2 class="text-dark fw-500 fs-14">{{ _accountservice.trans.Credit || 0 | currency : globals.config.currency+' ' : "symbol" }}</h2>
        </ion-note>
      </ion-item>
    </ion-card>
    
    <ion-card class="no-shadow ion-no-margin" style="padding-bottom: 10px;padding-top: 10px;margin-top: 10px;margin-bottom: 10px;">
      <ion-list-header style="margin-bottom: 0px;">
        <ion-label>
          <h2>Transactions</h2>
          <p class="fs-12 text-medium" style="margin-top: 0px;">November 2021 - Now</p>
        </ion-label>
      </ion-list-header>
      <transaction-lists [currency]="globals.config.currency" [transactions]="globals.modalData.transactions || []"></transaction-lists>
    </ion-card>

  </ion-content>

</full-modal>