<div *ngIf="loader">
  <ion-item lines="none" *ngFor="let msg of [0,1,2,3]">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h2><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></h2>
      <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
</div>

<div *ngIf="!loader && transactions?.length" style="margin-top: 10px">
  <div class="ion-border ion-no-padding" *ngFor="let trans of transactions;let i = index">
    <ion-item lines="none" detail="false">
      <ion-label>
        <p class="ion-text-wrap">{{trans?.DESCRIPTION | titlecase}}</p>
      </ion-label>
      <ion-note slot="end" align="right">
        <h2 class="fs-18 bold" style="margin-top: -5px">₦{{trans?.OTHER_CONTRIBUTION || trans?.TOTAL_CONTRIBUTION}}</h2>
        <p class="fs-12 bold" style="margin-top: -10px">{{trans?.VALUE_DATE}}</p>
        <p class="fs-12 bold" style="margin-top: -10px">{{trans?.STATUS | titlecase}}</p>
      </ion-note>
    </ion-item>
  </div>
</div>