

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img [src]="homeIcon" class="before" >
      <img [src]="homeActiveIcon" class="after" >
      <!-- <ion-icon class="ri-home-4-line before fs-20"></ion-icon>
      <ion-icon class="ri-home-4-line after fs-20"></ion-icon> -->
      <span >Overview</span>
    </ion-tab-button>
    <ion-tab-button tab="accounts">
      <i class="fi fi-rr-category before fs-20"></i>
      <i class="fi fi-sr-category after fs-20"></i>
      <span >Accounts</span>
    </ion-tab-button>
    <ion-tab-button tab="calculator">
      <i class="fi fi-rr-radio-alt before fs-20"></i>
      <i class="fi fi-sr-radio-alt after fs-20"></i>
      <span >Calculator</span>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <i class="fi fi-rs-user before fs-20"></i>
      <i class="fi fi-ss-user after fs-20"></i>
      <span >Transactions</span>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <img [src]="accountIcon" class="before" >
      <img [src]="accountActiveIcon" class="after" >
      <span >Profile</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>