

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <i class="fi fi-rr-apps before fs-18"></i>
      <i class="fi fi-sr-apps after fs-18"></i>
      <span >Home</span>
    </ion-tab-button>
    <ion-tab-button tab="calculator">
      <i class="fi fi-rr-calculator-money before fs-20"></i>
      <i class="fi fi-sr-calculator-money after fs-20"></i>
      <span >Calculator</span>
    </ion-tab-button>
    <ion-tab-button tab="accounts">
      <i class="fi fi-rs-chart-user before fs-22"></i>
      <i class="fi fi-ss-chart-user after fs-22"></i>
      <span >Account</span>
    </ion-tab-button>
    <ion-tab-button tab="micropensions">
      <i class="fi fi-rs-hands-holding-diamond before fs-22"></i>
      <i class="fi fi-ss-hands-holding-diamond after fs-22"></i>
      <span >Micro</span>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <i class="fi fi-rs-user before fs-22"></i>
      <i class="fi fi-ss-user after fs-22"></i>
      <span >Settings</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>