

<ion-content color="light">
    <ion-refresher slot="fixed" (ionRefresh)="getAccounts($event, true)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <!-- <ion-toolbar>

      <ion-item lines="none" detail="false" color="white">
        <ion-label>
          <h2 class="fs-18">Hello <span class="text-primary">{{_userservice.user?.NAME || _userservice.user?.FIRSTNAME | titlecase}} {{_userservice.user?.SURNAME | titlecase}}</span>,</h2>
          <p class="ion-text-wrap fs-12">Here is a summary of your investments</p>
        </ion-label>
      </ion-item>
    </ion-toolbar> -->
    <!-- <ion-item lines="none" detail="false" color="light">
      <ion-label>
        <h2 class="fs-18">Hello <span class="text-primary">{{_userservice.user?.NAME || _userservice.user?.FIRSTNAME | titlecase}} {{_userservice.user?.SURNAME | titlecase}}</span>,</h2>
        <p class="ion-text-wrap fs-12">Here is a summary of your investments</p>
      </ion-label>
    </ion-item> -->

    <ion-card class="no-shadow ion-no-margin" style="margin-top: 10px;margin-bottom: 10px;">
      <ion-list-header>
        <ion-label>
          <h2>Quick Actions</h2>
        </ion-label>
      </ion-list-header>
      <quick-actions (onSelect)="openQuickAction($event)"></quick-actions>
    </ion-card>

    <account-portfolio (onViewTransaction)="openTransactions()" (onclick)="globals.openModal($event)" (selectedAccount)="_accountservice.openAccount($event)" [source]="_userservice.user?.EMPLOYER_NAME || 'not set'" [accountNumber]="globals.config.pin || 'not set'" [loader]="loading | async" [accounts]="accounts" [balance]="_accountservice.bal" [currency]="globals.config.currency">
      <!-- <quick-actions (onSelect)="openQuickAction($event)"></quick-actions> -->
    </account-portfolio>
    
    <!-- <ion-card color="white" class="ion-no-margin no-shadow">
      <ion-list-header>
        <ion-label>
          <h2 class="fs-14">Quick Actions</h2>
        </ion-label>
      </ion-list-header>
      <quick-actions (onclick)="openQuickAction($event)"></quick-actions>
    </ion-card> -->

    
    <ion-card class="no-shadow ion-no-margin" style="margin-top: 10px;margin-bottom: 10px;">
      <ion-list-header>
        <ion-label>
          <h2>Recent Transactions</h2>
        </ion-label>
        <ion-button (click)="openTransactions()">
          <span class="fs-12">View All</span>
        </ion-button>
      </ion-list-header>
      <transaction-lists [currency]="globals.config.currency" [loader]="loading | async" [transactions]="transactions.slice(0,10)"></transaction-lists>
    </ion-card>
</ion-content>
