
<form class="form" [formGroup]="otherinfoForm">
  <ion-row>
    <ion-col size="12">
    <ion-label class="fs-12 text-dark">NIN <ion-text color="danger">*</ion-text></ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input type="text" formControlName="NIN"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <br />
    <ion-list-header color="light">
      <ion-label>Next Of Kin Information</ion-label>
    </ion-list-header>

    <ion-label class="fs-12 text-dark">Name</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input type="text" formControlName="NOK_NAME" placeholder="John Doe"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12 text-dark">Surname</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input type="text" formControlName="NOK_SURNAME" placeholder="John Doe"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12 text-dark">Othername(s)</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input type="text" formControlName="NOK_OTHERNAME" placeholder="John Doe"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12 text-dark">Gender <ion-text color="danger">*</ion-text></ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-select placeholder="Select One" formControlName="NOK_GENDER" interface="action-sheet" mode="md">
        <ion-select-option value="FEMALE">Female</ion-select-option>
        <ion-select-option value="MALE">Male</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12 text-dark">Relationship</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input type="text" formControlName="NOK_RELATIONSHIP" placeholder="John Doe"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12 text-dark">Local Government</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input type="text" formControlName="NOK_LGA" placeholder="John Doe"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12 text-dark">State</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input type="text" formControlName="NOK_STATE" placeholder="John Doe"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12 text-dark">Address</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-textarea formControlName="NOK_ADDRESS" rows="4"></ion-textarea>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12 text-dark">CORR Address</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-textarea formControlName="NOK_CORRADDRESS1" rows="4"></ion-textarea>
    </ion-item>
  </ion-col>
</ion-row>
</form>

<br />
<br />