
<!-- <div class="scrollable-chips">
    <div class="product fb" align="center" *ngFor="let product of products" (click)="onSelect.emit(product)">
      <ion-fab-button class="no-shadow" color="primary">
        <i [ngClass]="product?.icon"></i>
      </ion-fab-button>
      <ion-label>
        <h2 class="fs-12 text-dark" [innerHTML]="product?.label"></h2>
      </ion-label>
    </div>
</div> -->

<ion-grid>
  <ion-row>
    <ion-col class="ion-no-padding" size="3" align="center" *ngFor="let product of products">
      <ion-card class="product ion-no-padding ion-no-margin">
        <ion-fab-button class="no-shadow bg-transparent">
          <i [ngClass]="product?.icon"></i>
        </ion-fab-button>
        <ion-label>
          <h2 [innerHTML]="product?.label"></h2>
        </ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>