
<form class="form" [formGroup]="employeeForm">
  <ion-row>
    <ion-col size="12">
    <ion-label class="fs-12">Employer Name <ion-text color="danger">*</ion-text></ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input (ionInput)="inputOnChange()" formControlName="EMPLOYER_NAME" type="text"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12">Employment Date <ion-text color="danger">*</ion-text></ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input (ionInput)="inputOnChange()" type="text" formControlName="DATE_EMPLOYED"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">    
    <ion-label class="fs-12">Employer RCNO <ion-text color="danger">*</ion-text></ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input (ionInput)="inputOnChange()" type="text" formControlName="EMPLOYER_RCNO"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <br />
    <ion-list-header>
      <ion-label>Contact Information</ion-label>
    </ion-list-header>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12">Employer Phonenumber</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-input (ionInput)="inputOnChange()" type="text" formControlName="EMPLOYER_PHONE" placeholder="John Doe"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-label class="fs-12">Employer Address</ion-label>
    <ion-item class="ion-no-padding ion-item-border-radius" color="white" mode="ios">
      <ion-textarea (ionInput)="inputOnChange()" formControlName="EMPLOYER_ADDRESS" rows="4"></ion-textarea>
    </ion-item>
  </ion-col>
</ion-row>
</form>

<br />
<br />