
<ion-content color="light">
  <ion-card class="no-shadow ion-no-margin" style="padding-bottom: 10px;margin-top: 10px;margin-bottom: 10px;">
      <ion-list-header style="margin-bottom: 0px;">
          <ion-label>
              <h2>Micro Pension Contribution</h2>
          </ion-label>
      </ion-list-header> 
      <micorpension-contribution (onclick)="globals.toastAlert($event)"></micorpension-contribution>
  </ion-card>

  <ion-card class="no-shadow ion-no-margin" style="padding-bottom: 10px;margin-top: 10px;margin-bottom: 10px;">
    <faqs-lists [type]="'micropension'"></faqs-lists>
  </ion-card>
</ion-content>