
<ion-content color="light">

  <!-- <ion-card class="no-shadow ion-no-margin" style="padding-bottom: 10px;margin-top: 10px;margin-bottom: 10px;">
      <ion-list-header style="margin-bottom: 0px;">
          <ion-label>
              <h2>Information</h2>
          </ion-label>
      </ion-list-header>
      <ion-item lines="none" detail="false">
        <ion-label>
          <p>The Micro Pension Scheme (MPS) is designed to help traders, artisans, professionals and other self-employed people like you who do not qualify for the Contributory pension scheme (CPS)*, save conveniently for retirement.<br /> The National Pension Commission operating under the Pension Reform Act 2014 already has the Contributory Pension Scheme running actively for individuals in corporate organizations with at least three (3) employees to help them save enough for retirement.</p>
        </ion-label>
      </ion-item>
  </ion-card> -->

  <ion-card class="no-shadow ion-no-margin" style="padding-bottom: 10px;margin-top: 10px;margin-bottom: 10px;">
      <ion-list-header style="margin-bottom: 0px;">
          <ion-label>
              <h2>Micro Pension Contribution</h2>
          </ion-label>
      </ion-list-header> 
      <micorpension-contribution (onclick)="globals.toastAlert($event)"></micorpension-contribution>
  </ion-card>

  <ion-card class="no-shadow ion-no-margin" style="padding-bottom: 10px;margin-top: 10px;margin-bottom: 10px;">
      <!-- <ion-list-header style="margin-bottom: 0px;">
          <ion-label>
              <h2>Micro Pension QA</h2>
          </ion-label>
      </ion-list-header> -->

    <faqs-lists [type]="'micropension'"></faqs-lists>
  </ion-card>
</ion-content>