<ion-content color="light">

    <ion-card class="no-shadow ion-no-margin" style="margin-bottom: 10px;">
        <ion-item detail="true" lines="full" color="white" (click)="openProfilePage('edit profile')">
            <ion-avatar class="no-shadow avatar-md" slot="start">
                <ion-img
                    [src]="'https://ui-avatars.com/api/?name='+_userservice.user?.FIRSTNAME  + ' ' + _userservice.user?.SURNAME+'&color=ffffff&&background=000000'"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2 class="fs-16">{{_userservice.user?.NAME || _userservice.user?.FIRSTNAME  + ' ' + _userservice.user?.SURNAME || 'not set' | titlecase}}</h2>
                <p class="text-medium fs-12">{{ _userservice.user?.EMAIL || 'not set' | titlecase }}</p>
            </ion-label>
        </ion-item>

        <ion-item mode="ios" color="white" detail="true" (click)="openProfilePage('employment')">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-portrait text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Employer Information</h2>
            </ion-label>
        </ion-item>

        <ion-item mode="ios" color="white" detail="true" (click)="openProfilePage('next of kin')">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-users text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Next Of KIN</h2>
            </ion-label>
        </ion-item>

        <!-- <ion-item mode="ios" lines="none" detail="false">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-palette fs-18 text-dark"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Dark mode</h2>
            </ion-label>
            <ion-toggle mode="md" aria-label="mode" slot="end" [checked]="!globals.isLight"
                (ionChange)="globals.changeTheme()" color="primary"></ion-toggle>
        </ion-item>

        <ion-item mode="ios" lines="none" (click)="globals.openModal('languagemodal')">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-language text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Change Language</h2>
            </ion-label>
            <ion-button class="no-shadow" color="dark" fill="clear" shape="round" slot="end">
                <span class="fs-14 text-dark">English</span>
            </ion-button>
        </ion-item> -->

        <ion-item mode="ios" color="white" lines="none" detail="true"
            (click)="globals.openModal('investmentoptionsmodal')">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-coin-up-arrow text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Investment Options</h2>
            </ion-label>
        </ion-item>

        <ion-accordion-group class="bg-white">
            <ion-accordion [value]="'paymentmethod'" toggleIcon="">
                <ion-item slot="header" color="white" lines="none" mode="ios" detail="true">
                    <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                        <i class="fi fi-rr-money-bills-simple text-dark fs-18"></i>
                    </ion-fab-button>
                    <ion-label>
                        <h2 class="fs-14">Payment Method</h2>
                    </ion-label>
                </ion-item>
                <div class="ion-padding-start ion-padding-end bg-white" slot="content">
                    <ion-radio-group value="paystack">
                        <ion-item color="white" lines="none" detail="false" mode="ios">
                            <ion-radio value="paystack" justify="start" labelPlacement="start" class="fs-14">Using Debit Card or Bank Transfer (Paystack)</ion-radio>
                        </ion-item>
                        <ion-item color="white" lines="none" detail="false" mode="ios">
                            <ion-radio value="ussd" justify="start" labelPlacement="start" class="fs-14">Using USSD</ion-radio>
                        </ion-item>
                        <ion-item color="white" lines="none" detail="false" mode="ios">
                            <ion-radio value="shortcode" justify="start" labelPlacement="start" class="fs-14">SMS short code</ion-radio>
                        </ion-item>
                        <ion-item color="white" lines="none" detail="false" mode="ios">
                            <ion-radio value="call" justify="start" labelPlacement="start" class="fs-14">Call (Interactive Voice Response)</ion-radio>
                        </ion-item>
                    </ion-radio-group>
                    <br />
                </div>
            </ion-accordion>
        </ion-accordion-group>

        <!-- <ion-item mode="ios" color="white" lines="none" detail="true">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-money-bills-simple text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Payment Method</h2>
            </ion-label>
        </ion-item> -->
        <!-- </ion-card>


    <ion-card class="no-shadow ion-no-margin" style="margin-top: 10px;margin-bottom: 10px;"> -->
        <!-- <ion-list-header class="b-b">
          <ion-label>
            <h2 class="fs-14">Support & Help</h2>
          </ion-label>
        </ion-list-header> -->

        <ion-item mode="ios" color="white" detail="true" (click)="globals.openModal('faqmodal')">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-question-square text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Frequently Asked Questions</h2>
            </ion-label>
        </ion-item>

        <ion-item mode="ios" color="white" detail="true" (click)="globals.openModal('livechatmodal')">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-comment text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Live Chat</h2>
            </ion-label>
        </ion-item>

        <ion-item mode="ios" color="white" detail="true" lines="none" (click)="openSupportPage('terms & condition')">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-handshake text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Terms & Condition</h2>
            </ion-label>
        </ion-item>

        <ion-item mode="ios" color="white" detail="true" lines="none" (click)="openSupportPage('privacy policy')">
            <ion-fab-button size="small"color="white" class="no-shadow" slot="start">
                <i class="fi fi-rr-incognito text-dark fs-18"></i>
            </ion-fab-button>
            <ion-label>
                <h2 class="fs-14">Privacy Policy</h2>
            </ion-label>
        </ion-item>
    </ion-card>


    <!-- <ion-item (click)="onDeleteAccount()" mode="ios" color="white" detail="true" class="ion-margin-top">
        <ion-label>
            <h2 class="text-danger fs-14">Delete Account</h2>
        </ion-label>
    </ion-item> -->

    <ion-item (click)="onLogout()" mode="ios" color="white" detail="true" lines="none">
        <ion-label>
            <h2 class="text-danger fs-14">Logout</h2>
        </ion-label>
    </ion-item>
    <br />
    <br />


    <p class="text-medium ion-text-center fs-12 ion-padding">
        BY providing your information, you will allow Aide Finance to create budget
        under user information and manage your finance which take less than 24 hours
        to process it
    </p>

</ion-content>