
@font-face {
    font-family: 'Moderat';
    src: url('../assets/fonts/Moderat-Regular.a2f5d8f.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSans';
    src: url('../assets/fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/opensans-48343a1b.ttf') format('truetype');
}
@font-face {
    font-family: 'inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
}