
:root[mode="md"].plt-android, :root {
    --ion-font-family: 'Moderat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    // font-weight: 400 !important;
    font-display: swap !important;

    ion-title {
        font-size: 18px !important;
        font-weight:500 !important;
        .modal-title {
            margin-left: -20px !important;
        }
    }
    // ion-header ion-toolbar, ion-toolbar {
    //     --background: var(--ion-color-white) !important;
    //     background: var(--ion-color-white) !important;
    //     // --color: var(--ion-color-white) !important;
    //     // color: var(--ion-color-white) !important;
    // }
}