

<full-modal [open]="isOpen" [backDropDismiss]="false" [id]="'walkthrough'" [bodyColor]="'white'" [headerClass]="'hidden'" [footerClass]="'bg-bg-transparent ion-no-border'">
  
  <!-- <ion-header class="ion-no-border">
    <ion-toolbar slot="fixed" color="white">
      <ion-title mode="md">
        <img [src]="'assets/img/logo.png'" />
      </ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content [fullscreen]="true">
    <onboarding></onboarding>
    <!-- <ion-button (click)="globals.closeModal('walkthroughmodal')" routerLink="/login" size="default" color="primary" class="no-shadow ion-margin onboard-button">
      <span class="fs-14 ion-padding-end ion-padding-start">Get Started</span>
      <i class="ri-arrow-right-s-line ri-xl fs-30 fs-16 animated pulse infinite" slot="end"></i>
    </ion-button> -->
  </ion-content>
  <div modal-footer class="ion-padding ion-no-border bg-transparent">
    <ion-button class="no-shadow" color ="primary" mode="md" expand="block" routerLink="/register" (click)="globals.closeModal('walkthroughmodal');resetStatusBar()" size="large">
      <span class="fs-14">Let's Start</span>
    </ion-button>  
    <ion-button class="no-shadow" color ="primary" mode="md" expand="block" fill="clear" routerLink="/login" (click)="globals.closeModal('walkthroughmodal');resetStatusBar()" size="large">
      <span class="fs-14 bold">Existing User? (Sign In)</span>
    </ion-button>  
  </div>
  <br />
</full-modal>