
  
:host {
    .splash {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100px !important;
            margin: 0px auto !important;
            border-radius: 5px !important;
        }
        .bottom {
            text-align: center;
            position: fixed;
            bottom: 5px;
        }
    }
}
