
<form [formGroup]="registerForm" (submit)="onsubmit.emit(registerForm.value)" role="form"class="form">

  <ion-row>
    <ion-col size="12">
      <ion-label aria-label="surname" class="fs-12 text-dark">Surname <span class="text-danger">*</span></ion-label>
      <ion-item class="ion-no-padding ion-item-border-radius" color="light" mode="ios">
        <ion-input formControlName="surname" aria-label="surname" type="text" placeholder="Your surname"></ion-input>
      </ion-item>
      <div class="validation-errors fs-12 text-danger">
        <div *ngFor="let validation of validation_messages.surname">
          <div class="error-message" *ngIf="registerForm.get('surname')?.hasError(validation.type) &&
                          registerForm.get('surname')?.touched">
            <div>
              {{" "+validation.message}}
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    
    <ion-col size="12">
      <ion-label aria-label="firstname" class="fs-12 text-dark">Firstname <span class="text-danger">*</span></ion-label>
      <ion-item class="ion-no-padding ion-item-border-radius" color="light" mode="ios">
        <ion-input formControlName="firstname" aria-label="firstname" type="text" placeholder="Your firstname"></ion-input>
      </ion-item>
      <div class="validation-errors fs-12 text-danger">
        <div *ngFor="let validation of validation_messages.firstname">
          <div class="error-message" *ngIf="registerForm.get('firstname')?.hasError(validation.type) &&
                          registerForm.get('firstname')?.touched">
            <div>
              {{" "+validation.message}}
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    
    <ion-col size="12">
      <ion-label aria-label="middlename" class="fs-12 text-dark">Middlename</ion-label>
      <ion-item class="ion-no-padding ion-item-border-radius" color="light" mode="ios">
        <ion-input formControlName="middlename" aria-label="middlename" type="text" placeholder="Your Middle name"></ion-input>
      </ion-item>
      <div class="validation-errors fs-12 text-danger">
        <div *ngFor="let validation of validation_messages.middlename">
          <div class="error-message" *ngIf="registerForm.get('middlename')?.hasError(validation.type) &&
                          registerForm.get('middlename')?.touched">
            <div>
              {{" "+validation.message}}
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    
    <ion-col size="12">
      <ion-label aria-label="email" class="fs-12 text-dark">Email <span class="text-danger">*</span></ion-label>
      <ion-item class="ion-no-padding ion-item-border-radius" color="light" mode="ios">
        <ion-input formControlName="email" aria-label="email" type="text" placeholder="Your email"></ion-input>
      </ion-item>
      <div class="validation-errors fs-12 text-danger">
        <div *ngFor="let validation of validation_messages.email" class="error">
          <div *ngIf="registerForm.get('email')?.hasError(validation.type) &&
                    registerForm.get('email')?.touched">
            <div>
              {{" "+validation.message}}
            </div>
          </div>
        </div>
      </div>
    </ion-col>

    <ion-col size="12">
      <ion-label aria-label="pension type" class="fs-12 text-dark">Pension Type <span class="text-danger">*</span></ion-label>
      <ion-item class="ion-no-padding ion-item-border-radius" color="light" mode="ios">
        <ion-select aria-label="pension type" formControlName="pensiontype" interface="action-sheet" mode="md">
          <ion-select-option value="">Choose a Pension Type</ion-select-option>
          <ion-select-option value="RSA PENSION">RSA Pension</ion-select-option>
          <ion-select-option value="MICRO PENSION">Micro Pension</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <br />
      <ion-button type="submit" expand="full" size="large" color="primary" [disabled]="registerForm.invalid" class="ion-no-border">
        <span class="fs-14">Create Account</span>
      </ion-button>
    </ion-col>
  </ion-row>


  
</form>