
<form class="ion-margin-top ion-padding-start ion-padding-end">
  <ion-item lines="none" detail="false" color="white" class="ion-margin-bottom ion-border">
    <ion-label aria-label="NIN" position="stacked">NIN</ion-label>
    <ion-input aria-label="NIN" type="text" placeholder="Your NIN"></ion-input>
  </ion-item>

  <ion-item lines="none" detail="false" color="white" class="ion-margin-bottom ion-border">
    <ion-label aria-label="surname" position="stacked">Surname</ion-label>
    <ion-input aria-label="surname" type="text" placeholder="Your surname"></ion-input>
  </ion-item>

  <ion-item lines="none" detail="false" color="white" class="ion-margin-bottom ion-border">
    <ion-label aria-label="firstname" position="stacked">Firstname</ion-label>
    <ion-input aria-label="firstname" type="text" placeholder="Your Firstname"></ion-input>
  </ion-item>

  <ion-item lines="none" detail="false" color="white" class="ion-margin-bottom ion-border">
    <ion-label aria-label="middlename" position="stacked">Middlename</ion-label>
    <ion-input aria-label="middlename" type="text" placeholder="Your Middle Name"></ion-input>
  </ion-item>

  <ion-item lines="none" detail="false" color="white" class="ion-margin-bottom ion-border">
    <ion-label aria-label="phone number" position="stacked" class="fs-14 text-medium" style="margin-bottom: 0px;margin-top: -5px;">Phone Number</ion-label>
    <phonenumber-input></phonenumber-input>
  </ion-item>

  <ion-item lines="none" detail="false" color="white" class="ion-margin-bottom ion-border">
    <ion-label aria-label="email" position="stacked">Email</ion-label>
    <ion-input aria-label="email" type="text" placeholder="Your email"></ion-input>
  </ion-item>

  <ion-item lines="none" detail="false" color="white" class="ion-margin-bottom ion-border">
    <ion-label aria-label="address" position="stacked">Address</ion-label>
    <ion-textarea rows="5" aria-label="address" type="text" placeholder="Your address"></ion-textarea>
  </ion-item>
  
  <ion-button expand="full" size="large" color="primary" class="ion-no-border">
    <span class="fs-14">Create Account</span>
  </ion-button>
</form>