<div *ngIf="loader">
  <ion-item lines="none" *ngFor="let msg of [0,1,2,3,4,5,6,7,8,9,10,11,12]">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h2><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h2>
      <p><ion-skeleton-text animated style="width: 70%;height: 12px"></ion-skeleton-text></p>
    </ion-label>
    <ion-label align="right">
      <p style="margin-top: -5px"><ion-skeleton-text animated style="width: 50%;height: 12px"></ion-skeleton-text></p>
      <ion-skeleton-text animated style="width: 10px;height: 12px"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</div>

<div *ngIf="!loader && transactions.length > 0">
  <ng-container>
    <ion-item details="false" (click)="onclick.emit(trans)" lines="none" mode="ios" *ngFor="let trans of transactions">
      <ion-fab-button slot="start" class="no-shadow" [color]="trans?.STATUS == 'Credit' ? 'success' : 'danger'">
        <i class="fi fi-sr-arrow-trend-up fs-18 text-white" *ngIf="trans?.STATUS == 'Credit'"></i>
        <i class="fi fi-sr-arrow-trend-down fs-18 text-white" *ngIf="trans?.STATUS == 'Debit'"></i>
      </ion-fab-button>
      <ion-label>
        <h2 class="text-dark fs-14">{{trans?.STATUS}} Transaction</h2>
        <p class="text-medium fs-12">{{trans?.DESCRIPTION}}</p>
      </ion-label>
      <ion-note align="right">
        <span class="fs-14 text-dark">{{ trans.RSA_CONTRIBUTION || 0 | currency: currency}}</span><br />
        <span class="fs-12 text-medium" style="position: relative;top: -2px;">{{ trans?.VALUE_DATE | date }}</span>
      </ion-note>
    </ion-item>
  </ng-container>
</div>


<ion-card class="bg-white no-shadow" *ngIf="(!loader && transactions?.length == 0) || !transactions">
  <no-content [useImage]="false">
    <img height="150px" src="assets/img/gif/nocontent.gif" />
    <ion-label>
      <h2 class="fs-16">No Transaction Found</h2>
      <p>Create a new chat application with data <br />and functions to manage everything</p>
    </ion-label>
  </no-content>
</ion-card>