<form [formGroup]="forgetForm" (ngSubmit)="onsubmit.emit(forgetForm.value)" role="form" class="ion-margin-top">
  <ion-row class="ion-no-margin">
    <ion-col size="12">
      <ion-item lines="none" detail="false" color="light" class="ion-border">
        <ion-label aria-label="radix pin" position="stacked">Radix Pin</ion-label>
        <ion-input formControlName="pin" aria-label="radix pin" type="text" placeholder="Your PIN / Phone Number"></ion-input>
      </ion-item>
      <div class="validation-errors fs-12 text-danger ion-padding-start">
        <div *ngFor="let validation of validation_messages.pin">
          <div class="error-message" *ngIf="forgetForm.get('pin')?.hasError(validation.type) && forgetForm.get('pin')?.touched">
            <div>
              {{" "+validation.message}}
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="12">
      <ion-button type="submit" class="ion-no-border" expand="full" size="large" [disabled]="forgetForm.invalid" color="primary">
        <span class="fs-14">Recover Account</span>
      </ion-button>
      <ion-button expand="full" size="large" fill="clear" mode="ios" color="dark" routerLink="/login">
        <span class="fs-16">Have an account ? Sign In</span>
      </ion-button>
    </ion-col>
  </ion-row>
</form>