<ion-header class="ion-no-border">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button routerLink="/login" routerDirection="back">
        <i class="ri-arrow-left-line ri-xl fs-20"></i>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="forward">
        <span>Sign In</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <ion-list-header class="ion-margin-bottom">
    <ion-label>
      <h2 class="fs-20 bold">Create your Account</h2>
      <p class="ion-text-wrap fs-14">By continuning, you agree to Radix terms of service and acknolwedge our privacy policy</p>
    </ion-label>
  </ion-list-header>

  <register-form (onsubmit)="register($event)"></register-form>
</ion-content>

<ion-footer color="white" class="bg-white ion-no-border">
  <ion-item lines="none" class="bottom">
    <i class="ri-safe-2-fill ri-xl fs-20" slot="start"></i>
    <ion-label>
      <p><b>Never share your Passcode or pin</b> with anybody to keep your account safe and secured</p>
    </ion-label>
  </ion-item>
  <br />
</ion-footer>