
<div class="onboard">
  <swiper-container #swiper class="myIntroSwiper" [slidesPerView]="1.0" space-between="0px">
    <ng-container>
      <swiper-slide>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h2 class="fs-20 bold ion-margin-bottom">Connect Your Friends Anytime,<br /> Anywhere</h2>
            <p class="fs-14 fw-5 ion-margin-top">To automatically focus the next input when done with the previous one we modify</p>
          </ion-label>
        </ion-item>
        <img >
      </swiper-slide>
    </ng-container>
    <ng-container>
      <swiper-slide>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h2 class="fs-20 bold ion-margin-bottom">Connect Your Friends Anytime,<br /> Anywhere</h2>
            <p class="fs-14 fw-5 ion-margin-top">To automatically focus the next input when done with the previous one we modify</p>
          </ion-label>
        </ion-item>
        <img>
      </swiper-slide>
    </ng-container>
  </swiper-container>
</div>