
<div class="onboard">
  <swiper-container #swiper class="myIntroSwiper" [slidesPerView]="1.0" space-between="0px">
    <ng-container>
      <swiper-slide>
        <ion-item lines="none" color="white">
          <ion-label class="ion-text-wrap" align="center">
            <h2 class="fs-18 ion-margin-bottom">Connect Your Friends Anytime, Anywhere</h2>
            <p class="ion-margin-top">To automatically focus the next input when done with the previous one we modify</p>
          </ion-label>
        </ion-item>
      </swiper-slide>
    </ng-container>
    <ng-container>
      <swiper-slide>
        <ion-item lines="none" color="white">
          <ion-label class="ion-text-wrap" align="center">
            <h2 class="fs-18 ion-margin-bottom">Connect Your Friends Anytime, Anywhere</h2>
            <p class="ion-margin-top">To automatically focus the next input when done with the previous one we modify</p>
          </ion-label>
        </ion-item>
      </swiper-slide>
    </ng-container>
  </swiper-container>
</div>