:host {

    ion-card {
        border-radius: 7px !important;
        ion-label {
            h2 {
                margin-top: -3px !important;
                margin-bottom: -0px !important;
            }
        }
    }
}