<ion-content [fullscreen]="true" color="light">

  <ion-card class="no-shadow ion-no-margin bg-white" style="margin-bottom: 10px;">
    <!-- <ion-card class="no-shadow ion-no-margin" style="padding-top:10px;padding-bottom: 10px;margin-top: 10px;margin-bottom: 10px;"> -->
    <ion-row>
      <ion-col size="3">
        <img src="assets/img/payment.png" />
      </ion-col>
      <ion-col size="9">
        <ng-container *ngIf="(loader | async) === true">
          <ion-spinner></ion-spinner>
        </ng-container>
        <ng-container *ngIf="(loader | async) === false">
          <ion-label>
            <h2 class="fs-14 text-dark">Your Retirement Income</h2>
            <h2 class="fs-22 text-dark">{{ result.reclump || 0 | currency : globals.config.currency }}</h2>
          </ion-label>
          <br />
          <ion-label>
            <h2 class="fs-14 text-dark">{{ result.maxmonthly || 0 | currency : globals.config.currency }} Monthly Withdrawal</h2>
            <p class="fs-12 text-medium">What your entitled to monthly</p>
          </ion-label>
          <!-- <ion-label>
            <h2 class="fs-14 text-dark">{{ result?.maxmonthly || 0 | currency : globals.config.currency }} monthly down amount</h2>
            <p class="fs-12 text-medium">RSA Contribution</p>
          </ion-label> -->
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-card>

  <ng-container *ngIf="(loader | async) === true">
    <ion-spinner></ion-spinner>
  </ng-container>
  <ng-container *ngIf="(loader | async) === false">
    <calculator-form [data]="calculatorForm" (onSubmit)="submmited($event)"></calculator-form>
  </ng-container>


  <!-- <ion-card class="no-shadow ion-no-margin" style="padding-bottom: 10px;margin-top: 10px;margin-bottom: 10px;">
    <ion-list-header>
      <ion-label>
        <h2>Pension Calculator</h2>
      </ion-label>
    </ion-list-header>
    <calculator-form (onSubmit)="disabled = true;formdata = $event"></calculator-form>
  </ion-card> -->

  <p class="text-medium ion-text-center fs-12 ion-padding">
    BY providing your information, you will allow Radix Pension to provide best services with the information  provided and manage your information on our secured systems. 
</p>
</ion-content>

<ion-footer class="ion-padding-start ion-padding-end ion-no-border bg-transparent">
  <ion-button class="ion-margin-bottom" color="dark" expand="block" size="default"
    (click)="calculatedPension()">
    <span class="fs-14">Calculate Pensions</span>
  </ion-button>
</ion-footer>