
<!-- <mobile-header (onclick)="globals.openModal($event)" [refresh]="globals.pageRefresh" [color]="'white'" [title]="globals.pageData?.title | lowercase"></mobile-header> -->
<mobile-layout (onHeaderButtonClicked)="globals.openModal($event)" [refresh]="globals.pageRefresh" [title]="globals.pageData?.title | lowercase"></mobile-layout>

<profile-modal [isOpen]="globals.modalData?.profilemodal || false"></profile-modal>
<language-modal [isOpen]="globals.modalData?.languagemodal || false"></language-modal>
<notification-modal [isOpen]="globals.modalData?.notificationmodal|| false"></notification-modal>
<success-modal [isOpen]="globals.modalData?.successmodal || false" (continue)="onModalClosed($event);globals.closeModal('successmodal')" [data]="globals.modalData || {}" [activeColor]="globals.modalData.color || 'primary'" [class]="'modal-center modal-center-sm modal-w70'"></success-modal>