<div *ngIf="loader">
  <ion-item lines="none" *ngFor="let msg of [0,1]">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h2><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></h2>
      <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
    </ion-label>
    <ion-label align="right">
      <h2><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></h2>
      <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
</div>

<div *ngIf="!loader">
  <ion-item (click)="onclick.emit(acct)" color="white" lines="none" mode="ios" *ngFor="let acct of accounts;let i = index">
    <ion-fab-button slot="start" class="no-shadow">
      <img [src]=" 'https://ui-avatars.com/api/?name=' + acct?.ACCOUNTTYPE + '&color=000000&&background=f4f5f8' " >
    </ion-fab-button>
    <ion-label>
      <h2 class="fs-14">{{acct?.ACCOUNTTYPE | titlecase}}</h2>
      <!-- <h2 class="fs-14">{{acct?.SCHEMENAME | titlecase}}</h2> -->
      <!-- <p class="fs-12 ion-text-wrap text-medium">Contribution <b>{{ acct?.RSACONTRIBUTION || 0 | currency: currency}}</b></p> -->
      <p class="fs-12 ion-text-wrap text-medium">Bid Price {{ acct?.BID_PRICE || 0 | currency: currency }}</p>
      <!-- <p class="fs-12 ion-text-wrap text-medium">{{acct?.SCHEMENAME | titlecase}}</p> -->
    </ion-label>
    <ion-note align="right">
      <span class="fs-16 text-dark">{{ acct?.RSABAL || 0 | currency: currency}}</span><br />
      <!-- <span class="fs-12 text-medium" style="position: relative;top: -2px;">Bid Price {{ acct?.BID_PRICE || 0 | currency: currency }}</span> -->
      <!-- <span class="fs-12 text-medium" style="position: relative;top: -2px;">{{acct?.SCHEMENAME | titlecase}}</span> -->
      <!-- <h2 class="fs-14 text-dark">{{ acct?.RSABAL || 0 | currency: currency}}</h2> -->
    </ion-note>
    <!-- <ion-label align="right"> 
      <h2 class="fs-14 text-dark">{{ acct?.RSABAL || 0 | currency: currency}}</h2>
      <p class="fs-12 ion-text-wrap text-medium">Bid Price {{ acct?.BID_PRICE || 0 | currency: currency }}</p>
    </ion-label> -->
  </ion-item>
</div>