<form [formGroup]="loginForm" (ngSubmit)="onsubmit.emit(loginForm.value)" class="ion-margin-top">
  <ion-row class="ion-no-margin">
    <ion-col size="12">
      <ion-item lines="none" detail="false" color="light" class="ion-border">
        <ion-label aria-label="radix pin" position="stacked">Radix Pin</ion-label>
        <ion-input formControlName="pin" aria-label="radix pin" type="text" placeholder="Your PIN / Phone Number"></ion-input>
      </ion-item>
      <div class="validation-errors fs-12 text-danger ion-padding-start">
        <div *ngFor="let validation of validation_messages.pin">
          <div class="error-message" *ngIf="loginForm.get('pin')?.hasError(validation.type) && loginForm.get('pin')?.touched">
            <div>
              {{" "+validation.message}}
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="12">
      <ion-item lines="none" detail="false" color="light" class="ion-border">
        <ion-label aria-label="radix passcode" position="stacked">Passcode</ion-label>
        <ion-input formControlName="password" [type]="!hide ? 'text' : 'password'" aria-label="radix passcode" placeholder="XXXXXXX"></ion-input>
        <ion-button slot="end" (click)="togglePasswordFieldType()" color="dark" fill="clear" style="margin-top: 20px;">
          <i *ngIf="hide" class="ri-eye-close-line ri-xl fs-20"></i>
          <i *ngIf="!hide" class="ri-eye-fill ri-xl fs-20"></i>
        </ion-button>
      </ion-item>
      <div class="validation-errors fs-12 text-danger ion-padding-start">
        <div *ngFor="let validation of validation_messages.password" class="error">
          <div *ngIf="loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.touched">
            <div>
              {{" "+validation.message}}
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="12">
      <ion-button type="submit" class="ion-no-border" expand="full" size="large" [disabled]="loginForm.invalid" color="primary">
        <span class="fs-14">Continue</span>
      </ion-button>
      <ion-button expand="full" size="large" fill="clear" mode="ios" color="dark" routerLink="/register">
        <span class="fs-16">Dont have an account? Create account</span>
      </ion-button>
    </ion-col>
  </ion-row>
</form>